<nav class="navbar navbar-expand-lg navbar">
  <div class="container">
    <h1 class="navbar-brand">Imagine Movie</h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <li><a class="nav-link" routerLink="/login">Login</a></li>
        <li><a class="nav-link" routerLinkActive="active" routerLink="peliculas">Movies</a></li>
        <li><a class="nav-link" routerLinkActive="active" routerLink="mostViews">Most Views</a></li>
        <li><a class="nav-link" routerLinkActive="active" routerLink="cart">Movies Shop</a></li>
        <li><a class="nav-link" routerLinkActive="active" routerLink="admin">Admin</a></li>
      </ul>
    </div>
  </div>
</nav>
